# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [8]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv')
df.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
0                     57 non-null int64
Average Statistics    56 non-null object
Unnamed: 2            57 non-null object
Unnamed: 3            11 non-null object
Unnamed: 4            11 non-null object
Unnamed: 5            11 non-null object
Unnamed: 6            11 non-null object
Unnamed: 7            11 non-null object
Unnamed: 8            11 non-null object
Unnamed: 9            11 non-null object
Unnamed: 10           11 non-null object
Unnamed: 11           11 non-null object
Unnamed: 12           11 non-null object
Unnamed: 13           11 non-null object
Unnamed: 14           11 non-null object
Unnamed: 15           11 non-null object
Unnamed: 16           11 non-null object
Unnamed: 17           11 non-null object
Unnamed: 18           11 non-null object
Unnamed: 19           11 non-null object
Unnamed: 20           11 non-null object
Unnamed: 21           11 non-null object
Unnamed: 22           11 non-null object
Unnamed: 23           11 non-null object
Unnamed: 24           11 non-null object
Unnamed: 25           11 non-null object
Unnamed: 26           11 non-null object
Unnamed: 27           11 non-null object
Unnamed: 28           11 non-null object
Unnamed: 29           11 non-null object
Unnamed: 30           11 non-null object
Unnamed: 31           11 non-null object
Unnamed: 32           11 non-null object
Unnamed: 33           11 non-null object
Unnamed: 34           11 non-null object
Unnamed: 35           11 non-null object
Unnamed: 36           11 non-null object
Unnamed: 37           11 non-null object
Unnamed: 38           11 non-null object
Unnamed: 39           11 non-null object
Unnamed: 40           11 non-null object
Unnamed: 41           11 non-null object
Unnamed: 42           11 non-null object
Unnamed: 43           11 non-null object
Unnamed: 44           11 non-null object
Unnamed: 45           11 non-null object
Unnamed: 46           11 non-null object
dtypes: int64(1), object(46)
memory usage: 21.0+ KB

In [4]:
# Print the last 5 rows of df
df.tail()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [5]:
# What is going on with this data set? Anything unusual?

# Df is two table views, one on top of the other 
# The first is a summary of the raw data below
# There is also a blank row at row 1

In [12]:
df.index

RangeIndex(start=0, stop=57, step=1)

In [17]:
# Clean up the dataset

prev_count = 10**3

for row in df.index: 
    count = 0
    for entry in df.iloc[row].isnull():
        if entry:
            count += 1
    if count != prev_count and row != 0: 
        print("On row {} there are {} null values. The previous row had {} null values.".format(row,count,prev_count))
    prev_count=count
    
# LOL...this course - no shot anyone would just guess at this code

On row 1 there are 44 null values. The previous row had 45 null values.
On row 46 there are 0 null values. The previous row had 44 null values.

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [24]:
# Hint: Here's a useful programming pattern to use

try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e: 
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [ ]:
for i in rang

In [31]:
# # Iteration 1 
for i in range(1500,2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
print(len(df))
df1.head()

# Why do we do i - 1 here?

First failure at: 1962
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

In [28]:
df.tail()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Iteration 2

for i in range(0,500):
    try: 
        temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',skiprows=1962,nrows=i,names=df1.columns)
    except: 
        print('First failure at: {}'.format(i))
        break
df2 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',skiprows=1962,nrows=i-1,names=df1.columns)
print(len(df2))
df2.head()

498

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,STAY AWAY FROM THIS PLACE!!!!!!,5,sDofYImMQQmu4Le5G9zmpQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3948,GAKFx4jFUtTOTpp_jDJnuA,0,2017-09-01,0,OUZWMw7EgO7D596pUelSlA,5,Nice relaxing atmosphere. Friendly service and...,1,6vJY67yve43Ijvn8RKVUow
2,3949,0QzCeORfF8EY34UODWRV9A,0,2017-09-03,0,7lbykaWFD8YBwT0mU1Rexw,4,Very pleased with our experience. Great off th...,0,6vJY67yve43Ijvn8RKVUow
3,3950,tlt8zNrZ6_A3DmXiM-cnBA,0,2016-06-12,0,Nd_soHwCYi8adcNIT2w9LQ,1,Wife went to this location and was horrible. N...,0,S0dnPb1OzaqdBSOxyLr7BQ
4,3952,XD0LjNuPPwJPsTAHecUh7A,0,2015-08-23,0,FUUTAr5CECrkfRa9Y2-MSg,1,Not baby friendly anymore.,NaN,NaN

In [34]:
temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
print(len(temp))
temp.head()

ParserError: Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [37]:
temp = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv',names=df1.columns,skiprows=1)
print(len(temp))
temp.head()

4651

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [38]:
pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', skiprows=len(df1)+len(df2), names=df1.columns)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,Cons:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- Dusty! Not sure if it's all of Vegas but I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,- Valet parking: kinda inconvenient when you ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,- Sofabed is extremely flimsy,if you have more than 2 people,insist on 2 queen beds. the sofa cushions ar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Other points:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,* Should call ahead of time to make sure your...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,* Hotel lobby is extremely small!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,* In-room food service was overpriced (and fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,* Don't go to the 7-11,it's shady. You can shop at the am/pm or the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Overall,it was a good experience for the price we pai...,3,DZYGeWwBRKHgLUSk12sCvA,NaN,NaN,NaN,NaN,NaN,NaN
10,4058,WPCgtEG-bJt0cZtnM-x7yw,0,2012-02-28,0,igf8qa4uqeApRYwnrmcnWg,5,Loud,fun and full of excitement! This high energy,audience participation show was awesome. Gre...
11,1624,T5R6aILLDBnHQvfejY7dgA,1,2012-07-09,0,HjYi1MBvuVf8fVsLeLx1bQ,5,I've gone here since I was 8 or 9 years old. N...,I plan on taking my future children there. I ...,2
12,4938,53BSdnhzcCBfBH_6TgX63Q,0,2014-08-31,0,hHVBKv4nacYCphHhHt2KIA,5,Very courteous service,very delicious cuisine,and a very phenomenal experience over all. I ...
13,2897,hOB3NHuF-iVFdEkrA-PUlg,1,2012-02-17,0,acsWXRjRWWKzITQK4KaI4w,4,The Gault is a wonderful destination. My fian...,but due to the cozy warmth of our home-away-f...,NaN
14,The room was lovely,we had a loft basic package and really enjoye...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,We took part in the spa package offered throug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,I emailed the concierge ahead of time to reque...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,I've given 4 stars instead of 5 for a couple o...,the breakfast is not included in the room rat...,and the gym is adequate but quite small.,3,gIWWW6w-6P2j-hTH7nantw,NaN,NaN,NaN,NaN,NaN
18,2422,vwQvDIb_F7AqwCPaQhHrwg,0,2012-10-29,8,iN83pl9IPEo6Ay8g_G5g5g,1,If you are looking for an over-priced dorm lik...,underage drinking,and plenty of side-stepping the puke left in ...
19,1527,04u-szAykldu-caSDHQaKA,0,2012-02-09,0,VkEeSwaqHgp6VFeANMoFow,4,I have been looking for a good Chinese restrai...,0,iNSL4q8MUvZ1ItVGboPpbQ
20,4080,EDcZRvERC22Cvw1yi4-VKg,1,2017-12-05,0,tTb_HmUXAj5UwxX6kh8k1w,2,Its was ok. I got the sausage meatballs and Ar...,although the description said square. Friend ...,clean
21,4237,ZM-ljL_Y6bR4qEYsGHws5A,0,2016-11-05,0,bl6WJnhCl0s1Jd4TUcSX_g,2,Called to see if they had availability and a g...,so come right over. I said I was a 10 minute...,0
22,4498,VRTfAP2DjvUYxRY3dw37hA,0,2014-01-08,0,3CYH_03G3ZtIHoA3gIWpLA,4,Luxurious. But of course,you'd expect that from the Bellagio.,NaN
23,Chi,my pedicurist,was wonderful. Super sweet and very attentive...,it was heavenly. When it was all over,I was kicking myself for not scheduling addit...,NaN,NaN,NaN,NaN,NaN
24,Four stars instead of five because:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,- The ladies in reception were a bit rude,both over the phone and more so in person.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,- My pedicure only lasted two days! A pedicure...,even 3 weeks without a single chip.,7,ETmpBain2s02PqHGwSr7hQ,NaN,NaN,NaN,NaN,NaN,NaN
27,2716,4VHp2gei1bpY68ZzEZE9Bg,2,2013-05-22,9,m0eO3358SKkzY7isf6kEpg,1,Not impressed at all. I paid 200 to go up and ...,which was good. Unfortunately,the other 1/2 was spent bad mouthing the comp...
28,3426,8g3u6g7J93nIOF8owARxew,0,2014-08-13,0,JVwa-qaFERoa2dg0poiBcg,3,If you're looking for a shawarma in this area,this is your only option. Better tasting opti...,NaN
29,Had the traditional chicken shawarma. one of m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2552,Starting off with drinks,Bamburger serves beer,wine,and old-fashioned Stewart's soda,but what is a burger joint without milkshakes...,including the usual vanilla and chocolate sus...,as well a special flavour each day for the ni...,NaN,NaN,NaN
2553,The menu is varied,offering up soup,salads,sandwiches and desserts,as well as a kid's menu,but almost everyone here is in it for the bur...,from the type of bun,burger patty (beef,chicken,turkey
2554,We went with the Bambamburger ($11.50),which is 2/3 of a pound of prime ground chuck,and the chicken burger ($9.95) for myself,on whole-wheat buns. Both of us outfitted our...,including mushrooms,onions,garlic mayo and cheese sauce for the Bambambu...,and avocado,chipotle mayo,dill pickles and jalapeno peppers for the chi...
2555,Bamburger serves up great burgers,fries and shakes at a fairly good price,although if you go a little overboard with th...,you might quickly end up with a $20 burger,without realizing it. The service was friendl...,and the atmosphere was very comfortable and n...,NaN,NaN,NaN,NaN
2556,If you are hunting for a real deal on a burger,Bamburger might not be what you are looking for,but if you are more on the adventurous side,and want to have fun creating your own burger...,Bamburger will deliver.,8,YHWsLBS8jzZiPjKHMFOaAA,NaN,NaN,NaN
2557,3225,iyyWYpWm8X-6i7kBR3JHuw,0,2014-01-27,0,yLKMQNn8VE3CEDX-TF5CfA,1,Tried to attend a recent basketball game. Purc...,two parents and two kids. Arrived 45 min earl...,1
2558,4674,4KfDcE9iU2isFpoaKeDpgw,0,2012-06-14,0,rFH9iSvRmdm5LtDdsYwwpA,5,Great place to take your kids and interesting ...,0,9gYbRvijurhrnC6yPRlaUw
2559,4719,P4Plzlfm4uJjNmH3wY4W1Q,0,2014-01-14,0,IobIRp1mGJiLg4B6wHAvqQ,2,While I will continue to eat at this establish...,I will only do so because it is the closet Ch...,otherwise I would completely avoid this place...
2560,3440,nW45ez1L6U4PsYhV1BTrGQ,0,2012-05-19,0,abStF7f3_IyfZmOP82baZQ,5,H&F Jewellery is amazing!,NaN,NaN
2561,I had given my husband some ideas of engagemen...,a friend of ours recommended H&F.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2562,The customer service here is great - they are ...,attentive,honest and the prices are very reasonable! My...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2563,We went back for our wedding bands and I worke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2564,We've recommended 5 other friends to H&F - the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2565,Go to H&F for all your jewellery needs - you w...,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2566,4812,e13SEvJud_vgeDR_doL4sQ,0,2013-03-01,0,lUV1KEm4cl4mluSEFharFQ,4,We loved the food. The service was good and we...,0,NW6gHZ8PlYl1STK1A1Ixeg
2567,1970,9NBkIExYYz3w9O5JdzDOMA,0,2013-11-03,0,RT20_fUNJJNqMNvvjviNbQ,1,Hit or miss. I used these guys twice in a day ...,no call nothing. So I call the dispatch to le...,$20 to go 4 miles? I'll be renting a car tomo...
2568,689,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A58CCY8SHB7r-Wu7-A5g,5,Came here with my 2 year old daughter for our ...,she asked if everything was ok. We old her w...,great seating!
2569,4874,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQwNyfoFiJOw911mrULIg,5,Great little restaurant. Not to many tables an...,which is awesome. We had the Pad Thai and the...,0
2570,564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,NaN,NaN
2571,Highly recommend the custard cakes they are th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2572,The rice flour cake is also really good and a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2573,The bean cakes are great here too! orange,almond,and a few others I have tried are all good.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2574,Can't go wrong with Nova Era,0,kBNFdviedCPFWyR-wVaAzw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2575,3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,NaN,NaN
2576,This was disappointing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2577,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2578,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2579,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2580,Wasn't worth the hype,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN
2581,4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,and no one came to take our drink order. We w...,0

In [39]:
# Again, truly absurd. Will most definitely resort to watching actual professionals EXPLAIN coding via videos over this after seeing this mess.

## Summary

Congratulations, you now practiced your Pandas-importing skills!